@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<ThuVienSo_Project.Models.KhoaBm>

@{
    ViewData["Title"] = "Khoa/Bộ môn - page: " + @ViewBag.CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home"  class="breadcrumb-item" asp-action="Index"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminKhoaBM" asp-action="Index">Danh sách Khoa/Bộ môn</a>
            <span class="breadcrumb-item active">Danh sách Khoa/Bộ môn : page @ViewBag.CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-controller="AdminKhoaBM" asp-action="Create"> <i class="anticon anticon-plus-circle m-r-5"></i>  <span>Thêm mới</span> </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>Mã Khoa/Bộ môn</th>
                        <th>Tên Khoa/Bộ môn</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Idkhoa</td>             
                                <td>@item.Tenkhoa</td>
                                <td>
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminKhoaBM" asp-action="Details" asp-route-id="@item.Idkhoa">View</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminKhoaBM" asp-action="Edit" asp-route-id="@item.Idkhoa">Edit</a>
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminKhoaBM" asp-action="Delete" asp-route-id="@item.Idkhoa">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminKhoaBM" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>
